@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease;
}

.light-mode {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

.dark-mode {
  background-color: #202c37; /* Dark background */
  color: #ffffff; /* Light text */
}
